
/* DO NOT USE CLASSES:
   any names of drugs, weight, price, unitProfit, drugDealer, drugLevel, backpackType, backpackLevel, trunk

/* 1 REM = 16px */

* {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  font-size: 100%;
}

html {
  background-color: var(--col-lightgrey);
}

:root{
  --col-lightgrey: hsla(0, 0%, 53%, 1);
  --col-grey: hsla(0, 0%, 17%, 1);
  --col-darkgrey: hsla(0, 0%, 13%, 1);
}


/* == [ NAV BAR ] ======================================================================================== */
/* CONTAINER HOLDING NAV BAR */
nav {
  height: 8rem;
  width: 100%;
  background-color: var(--col-grey);
  border-bottom: 5px solid var(--col-darkgrey);
  box-shadow: 0 5px 10px 5px var(--col-darkgrey);
}
.nav-bar { /* PROPERTIES FOR ELEMENTS WITHIN NAV BAR */
  display: inline-block;
  height: 100%;
}

h1.nav-bar { /* TTILE */
  vertical-align: middle;
  line-height: 0;
  font-size: 3.5rem;
  font-weight: 700;
  color: white;
  margin-left: 1rem;
}

ul.nav-bar { /* LIST ELEMENT FOR NAV BUTTONS */
  list-style-type: none;
  float: right;
}

.nav-button { /* NAVIGATION BUTTONS */
  display: inline-block;
  position: relative;
  top: 25%;
  margin: 0 1rem;
}

#nav-button-left { /* RIGHT MOST NAV BUTTON */

}

#nav-button-right { /* RIGHT MOST NAV BUTTON */
  margin-right: 2rem;
}

.nav-button a { /* NAVIGATION BUTTON TEXT */
  line-height: 4rem;
  color: white;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
}

.nav-button a:hover { /* NAVIGATION BUTTONS */
  border-bottom: 1px solid white;
  padding-bottom: 0.4rem;
}

.active-page a {
  border-bottom: 1px solid white;
  padding-bottom: 0.4rem;
}

/* == [ TABLE ] ========================================================================================== */

.drug-first { /* CONTAINER FOR FIRST ROW OF DRUG TABLES */
  width: 100%;
  height: auto;
}

#table-drug-info { /* ID FOR DRUG INFORMATION */
  display: inline-block;
  border: 5px solid var(--col-darkgrey);
  display: none;
}

#form-drug-menu { /* ID FOR DRUG MENU */
  width: 100%;

}

#table-drug-menu {
  border: 5px solid var(--col-darkgrey);
  position: relative;
  margin: 0 auto 0 auto;
}

#table-drug-profits {
  border: 5px solid var(--col-darkgrey);
}

select {
  width: 14rem;
  background-color: transparent;
  border: 0;
  font-family: inherit;
}

.drug-second {
  width: 80%;
  padding: 2rem 0;
  margin: 0 auto 0 auto;
}

table {
  border-collapse: collapse;
}

th { /* STYLING FOR TABLE HEADER */
  text-align: left;
  width: 0.6rem;
  border: 1px solid var(--col-darkgrey);
  color: white;
  background-color: var(--col-darkgrey);
}

input { /* STYLING ELEMENTS FOR NUMBER DATA CELLS */
  border: 0;
  margin: 0;
  background-color: transparent;
  color: black;
  font-family: monospace;
  font-size: 1.1rem;
  text-align: right;
}

td { /* STYLING FOR NON NUMBER DATA CELLS */
  font-size: 1rem;
  border-bottom: 1px solid black;
  padding: 3px;
  background-color: var(--col-lightgrey);
}

td:last-child {
  border-right: 1px solid var(--col-darkgrey);
}

.runProfitHeader { /* SELECTOR FOR RUN PROFIT HEADERS */
  text-align: center;
}

input.runProfit { /* SELECTOR FOR RUN PROFIT CELLS */
  text-align: right;
  width: 5em;
}

td.pound-format { /* SELECTOR FOR POUND CELLS */
  padding-left: 3px;
  border-left: 1px solid var(--col-darkgrey);
}

.vehicle-col {
  border-left: 1px solid var(--col-darkgrey);
}

th.vehicle-col {
  width: 200px;
}

.trunk-col { /* SELECTOR FOR TRUNK CELLS */
  border-left: 1px solid var(--col-darkgrey);
}

th.trunk-col { /* SELECTOR FOR TRUNK HEADER CELLS TEXT */
  text-align: center;
}

input.trunk { /* SELECTOR FOR TRUNK CELLS TEXT */
  width: 3rem;
  text-align: center;
  padding-left: 13px;
}

.drug-col {
  border-right: 1px solid var(--col-darkgrey);
  width: 10rem;
}

.select-text {
  width: 10rem;
}
/* ======================================================================================================= */
