/* document defaults */
* {
  margin: 0;
  padding: 0;
  font-family: Muli, sans-serif;
  font-size: 100%;

}

/* main colour variables */
:root{
  --col-lightgrey: hsla(0, 0%, 53%, 1);
  --col-grey: hsla(0, 0%, 17%, 1);
  --col-darkgrey: hsla(0, 0%, 13%, 1);
}

/* disable text highlight */
.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

.temp-hide {
  display: none;
}


/* div container for the main splash page */
#splash-container {
  width: 100%;
  height: 100vh;
  z-index: 1;
}

/* image class for background image on main page */
.image-splash {
  min-width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  overflow: hidden;
  z-index: -1;
}

/* table container for main title section */
#main-title-table {
  width: 100%;
  height: 100%;
}

tr {
  height: 33.3%;
}

/* main title element */
#main-title {
  font-size: 10rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px black, -1px -1px 5px grey;
  vertical-align: bottom;
  position: relative;
  top: 2rem;
}

/* main title credit element */
#main-title-credit {
  color: black;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: top;
  text-shadow: 2px 2px 5px white, -1px -1px 5px white;
  position: relative;
  top: 1rem;
}

/* selector for nav buttons */
.main-nav-button {
  display: inline-block;
  padding: 5px 1rem;
  margin: 0 3rem;
  text-align: center;
  position: relative;
  top: 4rem;
}

/* selector for text properties of nav buttons */
.main-nav-text {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  opacity: inherit;
  padding: 0.3rem 0;
  text-shadow: 1px 1px 3px black, -1px -1px 3px grey;
}

.main-nav-text:hover {
  border-bottom: 1px solid white;
}

/* */
